a {
    cursor: pointer;
}

.tabbed-block-root {
    padding: 3rem 0;
}

.tabbed-block-container {
    margin: 0 auto;
    max-width: 92rem;
    overflow: hidden;
}

@media (min-width: 33.75em) {
    .tabbed-block-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.tabbed-block {
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
}

.tabbed-block-header-wrapper {
    position: relative;
    height: 6rem;
    overflow: hidden;
}

.tabbed-block-header {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: -.1rem;
}

.tabbed-block-header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100%;
    height: 5rem;
    background: #f5f5f5;
    color: #313537;
    border: none;
    font-size: .6rem;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 1.66667;
    font-weight: 700;
    letter-spacing: .12em;
    word-break: break-word;
    min-width: 40%;
    text-overflow: ellipsis;
    transition: background .3s, border .3s;
}


@media (min-width: 30em) {
    .tabbed-block-header-item {
        padding: 1rem 2rem;
        min-width: 30%;
        font-size: .6rem;
        height: 3rem;
    }
}

@media (min-width: 45em) {
    .tabbed-block-header-item {
        padding: 1rem 2rem;
        min-width: 23%;
        font-size: .8rem;
        height: 3rem;
    }
}


.tabbed-block-header-item-active {
    background: #fff !important;
    border-bottom: 1px solid transparent;
    cursor: default;   
}


.tabbed-block-content {
    background: #fff;
    font-weight: 300%;
}

.tabbed-block-content-item {
    padding: 2rem 3rem 3.5rem;
    background: #fff;
    transition: opacity .6s cubic-bezier(0,0,.3,1);
    text-align: justify;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.tabbed-block-content-item-text {
    font-family: Merriweather;
}

.tabbed-block-content-animation-enter {
  opacity: 0.01;
}

.tabbed-block-content-animation-enter.tabbed-block-content-animation-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.tabbed-block-content-image-wrapper {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.tabbed-block-content-image {
    padding: 1rem;
    max-width: 100%;
    max-height: 20rem;
}
